<div class="lesson-detail">
  <h3>{{ lesson.description }}</h3>
  <h5>Duration: {{ lesson.duration }}</h5>

  <iframe
    [src]="'https://www.youtube.com/embed/{{lesson?.videoId}}' | safeUrl"
    allowfullscreen
    frameborder="0"
    height="220"
    width="400"
  ></iframe>
</div>
