<ng-container *ngIf="data$ | async as data">
  <div class="course">
    <h2>{{ data.course?.description }}</h2>

    <img
      *ngIf="data.course"
      [src]="data.course?.iconUrl"
      class="course-thumbnail"
    />

    <table *ngIf="data.lessons.length" class="lessons-table mat-elevation-z7">
      <thead>
        <th>#</th>
        <th>Description</th>
        <th>Duration</th>
      </thead>
      <tr *ngFor="let lesson of data.lessons" class="lesson-row">
        <td class="seqno-cell">{{ lesson.seqNo }}</td>
        <td class="description-cell">{{ lesson.description }}</td>
        <td class="duration-cell">{{ lesson.duration }}</td>
      </tr>
    </table>
  </div>
</ng-container>
